<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>170572164578-6kfs9e01jv1ipvnekbcpuslp3oqh0okv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.170572164578-6kfs9e01jv1ipvnekbcpuslp3oqh0okv</string>
	<key>API_KEY</key>
	<string>AIzaSyAUO7zTrSheXExQGFOh7Ofo42YuPjj31Cs</string>
	<key>GCM_SENDER_ID</key>
	<string>170572164578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.romanhckl.mints</string>
	<key>PROJECT_ID</key>
	<string>mint-6adf9</string>
	<key>STORAGE_BUCKET</key>
	<string>mint-6adf9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170572164578:ios:f5d97416ce2c96ade81dbb</string>
	<key>DATABASE_URL</key>
	<string>https://mint-6adf9.firebaseio.com</string>
</dict>
</plist>